<!DOCTYPE html>
<<<<<<< HEAD
<html>
    <head>
        <title>404</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>{{errorMessage}}</p>
        </div>
        {{>footer}}
    </body>
=======

<html>

<head>
    <title>404</title>
    <link rel="icon" href="/img/weather-icon.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        {{errorMessage}}
    </div>

    {{>footer}}
</body>


>>>>>>> bdf36fccff335eb0da19174910b775c7f73c0fad
</html>