<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>This website was created by Tomiwa Akinyele. It uses mapbox and weatherstack apis</p>
            <img class="portrait" src="/img/Tomiwa smh.jpg" alt="">
        </div>
        {{>footer}}
    </body>
</html>