<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather-icon.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This is site was created by Ayotomiwa Akinyele. It uses data from mapbox.com and darksky.net</p>
        <img src="/img/Tomiwa smh.jpg" class="portrait">
    </div>

    {{>footer}}
</body>

</html>