<!DOCTYPE html>
<<<<<<< HEAD
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./css/styles.css">
    </head>

    <body>
        <div class="main-coontent">
            {{>header}}
            <p>{{helpText}}</p>

        </div>
        {{>footer}}
    </body>
</html>
=======

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather-icon.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{helpText}}</p>
    </div>

    {{>footer}}
</body>

</html> 
>>>>>>> bdf36fccff335eb0da19174910b775c7f73c0fad
